@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>


    @Scripts.Render("~/bundles/knockoutjs")

    <!-- include source files here... -->
  <script type="text/javascript" src="/Scripts/knockoutjstests/BmiCalculatorViewModelTest.js"></script>

  <!-- include spec files here... -->
    <script type="text/javascript" src="/Scripts/knockoutjs/BmiCalculatorViewModel.js"></script>
</head>

<body>
</body>
</html>
