﻿@{
    ViewBag.Title = "Knockoutjs";
}

<div class="jumbotron">
    <h1>Knockoutjs</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BMI Calculator</h2>
        <p>
            BMI: <strong data-bind="text: bmiScore"></strong> <span class="qmlabel" data-bind="css: bmiScoreCss, text: bmiScoreLevel">Overweight</span>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gender</h2>
        <div class="form-group required">
            <label for="exampleInputEmail1">Gender</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="Male" data-bind="checked: gender" checked>
                    Male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="Female" data-bind="checked: gender">
                    Female
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="Transgender" data-bind="checked: gender">
                    Transgendered
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="Prefer not to say" data-bind="checked: gender">
                    Prefer not to say
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Weight and Height</h2>
        <div class="col-6">
            <div class="form-group required">
                <label for="exampleInputEmail1">How tall are you?</label>
                <div class="row heightConversion">
                    <div class="col-5 form-group">
                        <label for="exampleInputEmail1">Metric (m)</label>
                        <input type="number" step="0.01" class="form-control metric" id="howTallAreYouMetric" data-bind="value: heightMetric" value="0.00">
                    </div>
                </div>
            </div>
            <div class="form-group required">
                <label for="exampleInputEmail1">What is your weight?</label>
                <div class="row weightConversion">
                    <div class="col-5 form-group">
                        <label for="exampleInputEmail1">Metric (kg)</label>
                        <input type="number" step="0.1" class="form-control metric" id="weightMetric" data-bind="value: weightMetric" value="0.00">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">BMI Result</label>
                <span data-bind="text: bmiScore"></span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockoutjs")

    <script type="text/javascript">
        $(document).ready(function () {


            ko.applyBindings(new bmiCalculatorViewModel());


        });
    </script>

}